manage.py
migrations
static

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# Deployment
scripts

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
profile_pics
default.jpg

# AWS
aws_commands.txt

# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class 
env

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history