{% extends "base.html" %}
{% block title %}
<h1>Create Sesh</h1>
{% endblock title %}
{% block content %}
<form action="post">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="date_going" class="form-label">Date Going:</label>
        {{ form.date_going }}
    </div>
    <div class="col-md-6">
        <label for="time_going" class="form-label">Time Going:</label>
        {{ form.time_going }}
    </div>
    <div class="col-md-6">
        <label for="location" class="form-label">Location:</label>
        {{ form.location }}
    </div>
    <div class="col-md-6">
        <label for="sesh_type" class="form-label">Climbing Style:</label>
        {{ form.sesh_type }}
    </div>
    <div class="col-md-6">
        <label for="sesh_environ" class="form-label">Environment:</label>
        {{ form.sesh_environ }}
    </div>
    <button type="submit">Post Session</button>
</form>
{% endblock content %}