
<div class="container">
    <div class="row">
        <div class="card my-4">
            <div class="container mx-0 my-2">
                <img class="rounded-circle account-img" src={{user.profile.image.url}}>
                <div class="mx-5">
                    <h3 class="card-title">{{user.first_name}} {{user.last_name}}</h3>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <h5 class="card-title">{{user.first_name}} {{user.last_name}}'s Profile</h5>
                <p class="card-text">Username: {{user.username}}</p>
                <p class="card-text">Email: {{user.email}}</p>
                <p class="card-text">Rockfall High Score: {{user.profile.score}}</p>
                <a href={% url "update_profile" request.user.username %} class="btn btn-primary">Update Information</a>
            </div>
        </div>
    </div>
</div>