{% extends "base.html" %}
{% block title %}
<h1>Log In</h1>
{% endblock title %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="username" class="form-label">Username:</label>
        {{ form.username }}
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Password:</label>
        {{ form.password }}
    </div>
    <button type="submit">Log In</button>
    <br>
    <a href={% url "signup" %}>No account yet? Click here!</a>
</form>
{% endblock content %}